* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.revision-row-needs_revision td {
  background: #fff1f0;
}

.revision-row-completed td {
  background: #f6ffed;
}

.revision-row-under_review td {
  background: #fffbe6;
}

/* Tree indent 조절 */
.ant-tree-indent-unit {
  width: 4px !important;
}
